# ajout du dossier .env pour stocker les variables d'environnement
.env

# ajout du dossier node_modules pour stocker les dépendances du projet
node_modules/

# ajout du dossier reports pour stocker les rapports de test
reports/*
# exception : le script de génération du rapport doit être versionné
!reports/generate-report.js